.App {
  text-align: center;
}

.App-logo {
  width: 300px;  /* Adjust this value */
  height: 300px; /* Adjust this value */
  border-radius: 50%; /* Optional: makes it circular */
  object-fit: cover; /* Maintains aspect ratio */
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: #282c34;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

